.sidebarContainer {
  background-color: var(--primary);
  width: 246px;
  border-radius:0px 24px 24px 0px;
  height: 100vh;
  position: fixed;
}
.sidebarContainer h1 {
  color: var(--white);
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 38px;
  margin-left: 28px;
}

.sidebarLink {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  gap: 17px;
  align-items: center;
  margin-left: 31px;
}

.sidebarLink img {
  height: 31px;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownToggle {
  /* Style your button */
}

.dropdownMenuOpen {
  display: block;
  /* position: absolute; */
  /* Additional styles */
  animation: slideDown 0.5s ease-out forwards;
}

.dropdownMenuClosed {
  display: none;
}

.dropdownItem {
  /* Style your dropdown items */
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}